<%- contentFor('body') %>

<div class="container">
  <div class="container-img"></div>
  <div class="container-content">
    <h1>About Me</h1>
    <img src="img/rio2.jpg" alt="rio" height="200px" />
    <p>
      Saya adalah lulusan S1 Teknik Informatika dengan minat dan keahlian dalam
      bidang pengembangan web. Saya aktif berpartisipasi dalam proyek kelompok
      dan magang yang memungkinkan saya untuk menerapkan teori ke dalam praktik
      nyata. Dengan pengalaman dalam membangun dan mengelola aplikasi web, saya
      mahir dalam merancang arsitektur yang efisien, memastikan keamanan data,
      dan mengoptimalkan kinerja aplikasi. Saya bersemangat untuk terus belajar
      dan beradaptasi dengan teknologi baru serta siap berkontribusi dalam tim
      pengembang yang dinamis dan inovatif.
    </p>
  </div>
</div>
