<%- contentFor('body') %>

<div class="container">
  <div class="card">
    <h5 class="card-header">Detail Contact</h5>
    <div class="card-body">
      <p class="card-text"><b>Name :</b> <%= cont.name %></p>
      <p class="card-text"><b>Phone Number :</b> <%= cont.phone %></p>
      <p class="card-text"><b>Email Address :</b> <%= cont.email %></p>
      <a href="/contact" class="btn btn-primary">Back</a>
    </div>
  </div>
</div>
