<%- contentFor('body') %>

<div class="container">
  <div class="card">
    <h5 class="card-header">Contact</h5>
    <div class="card-body">
      <p class="card-text"><b>Name :</b> <%= contactDetail.name %></p>
      <p class="card-text"><b>Phone :</b> <%= contactDetail.phone %></p>
      <p class="card-text"><b>Email :</b> <%= contactDetail.email %></p>
      <a href="/contact" class="btn btn-primary">Back</a>
    </div>
  </div>
</div>
